body{
    padding: 0;
    margin: 0;

}
@font-face{
    font-family: Poppins;
    src:url(site/fonts/Poppins-Regular.ttf);
} 
@font-face{
    font-family: Raleway;
    src:url(site/fonts/Raleway-Regular.ttf);
} 
.container{
    margin: 0 auto;
    width: 1300px; 
}
.banner{
	background-image: url(images/Camada2.png);
	height: 1120px;
	width: 100%;
	background-size: cover;
	display: flex;
	align-items: center;
	position: relative;
    -webkit-overflow-scrolling: touch;
}
.menu{
    height: 100px;
    display: flex;
    width: 100%;
    background-color: #e4e5e1;
    justify-content: center;
    text-transform: uppercase;
    font-family: Poppins;
    color: #434343;
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
}
.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 30px;
    padding: 0;
}
.menu ul li{
    padding: 0 8px;
    font-size: 14px;
    color: #434343;
    cursor:pointer;
}
.menu ul li:hover{
   border-bottom: 2px solid #000;
}
.contact-menu h4{
    font-weight: bold;
    margin: 25px 0 5px;
    font-size: 13px;
}
.contact-menu h2{
    text-align: end;
    margin: 0;
    color: #434343;
    padding: 0;
}
.menu-img{
	width: 155px;
	height: 67px;
	margin: 15px 0;
}

.Elipse1{
	background-image: url(images/Elipse1.png);
    height: 348px;
    width: 427px;
    margin: 0 auto;
}
.Elipse2{
	background-image: url(images/Elipse2.png);
    height: 205px;
    width: 225px;
    margin: auto 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner h1, h2{
	color: #0e3893;
}
.ti{
	font-size: 43px;
    font-family: Raleway;
    font-weight: 600;
    margin: 0px;
    padding: 40px;
    text-align: center;
}
.tu{
    font-size: 140px;
    font-family: Poppins;
    font-weight: 800;
    padding: 0;
    margin: -70px;
    text-align: center;
}
.lo{
    font-size: 70px;
    font-family: Raleway;
    padding: 0;
    font-weight: 800;
    margin: 33px 60px;
    text-align: inherit;
}
.tit{
    font-size: 35px;
    font-weight: 600;
    font-family: Raleway;
    width: 200px;
    text-align: center;
    padding: 0;
    margin: -112px 28px;
    float: right;
}
.Elipse2 h2{
	font-size: 26px;
    font-family: Raleway;
    width: 200px;
    padding: 10px;
    margin: 0;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.Elipse2 .button{
    padding: 0px 15px;
    font-size: 17px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    font-family: Raleway;
    color: #0e3893;
    font-style: italic;
    font-weight: 600;
    cursor:pointer;
    
}
.header{
	background-image: url(images/Agrupar2.png);
	width: 100%;
	background-size: cover;
	height: 1101px;
}
.header-sub{
    margin: 0 0 55px;
}
.header-sub h1{
   padding: 62px 0 20px;
    margin: 0;
    font-family: Poppins;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}
.header-sub p{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: Poppins;
    color: #ffffff;
    text-transform: uppercase;
}
.item{
	display: flex;
	color: #ffffff;
	font-family: Poppins;
    margin: 40px 0;
    align-items: center;
}
.ob1{
    padding: 0 15px;
}
.item img{
	margin: 30px;
	
}
 .item-txt h3{
    font-size: 20px;
    line-height: 2;
    font-weight: 700;
}
.item-txt p{
    margin: -15px 0;
	font-size: 18px;
}
.nav{
	height: 590px;
	width: 100%;
	background-color: #ffffff; 
     display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.txt-ul-nav{
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-weight: bold;
    color: #7e7c79;
    list-style: none;
}
.txt-ul-nav li:nth-child(1){
    margin: 0 -55px;
}
.txt-ul-nav li:nth-child(2){
    margin: 0 0 0 61px;
}
.txt-ul-nav li:nth-child(3){
    margin: 0 0 0 -6px;
}
.txt-ul-nav li:nth-child(4){
   margin: 0 0 0 -20px;
}
li .carousel-control-next, .carousel-control-prev{
    width: 100%;
}
li .carousel-control-next-icon{
    background: transparent;
}
.ul-nav li:hover{
    background-color: #ccc;

}
.ul-nav{
	list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: relative;
}
 .ul-nav:after {
    content: '';
    height: 2px;
    width: 100%;
    background: #ccc;
    top: 26px;
    /*z-index: 0;*/
    position: absolute;
    -webkit-content: '';
    -webkit-height: 2px;
    -webkit-width: 100%;
    -webkit-background: #ccc;
    -webkit-top: 26px;
    -webkit-z-index: 0;
    -webkit-position: absolute;
    -ms-content: '';
    -ms-height: 2px;
    -ms-width: 100%;
    -ms-background: #ccc;
    -ms-top: 26px;
    -ms-z-index: 0;
    -ms-position: absolute;
}
.ul-nav li{
    font-family: Poppins;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 3px solid #7e7c79;
    border-radius: 30px;
    font-size: 31px;
    color: #7e7c79;
    margin: 0;
	position: relative;
    z-index: 1;
    background: #fff;
}
.titulo-nav{
    font-size: 34px;
	text-align: center;
	color: #121f38;
	font-family: Poppins;
    margin: 40px 0;
}
.etapa{
    margin: 0 0 30px;
}
.itens-nav{
    display: flex;
    flex-direction: column;
    align-items: inherit;
}
.tit-p-nav{
    color: #7e7c79;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 62px 0;
    padding: 0;
    position: relative;
}
.tit-p-nav h2{
	color: #7e7c79;
    font-size: 38px;
    padding: 0;
    margin: 0;
    text-align: -webkit-center;
}
.tit-p-nav p{
	font-size: 20px;
    width: 395px;
    text-align: center;
    padding: 0;
    margin: 0;
}
.tit-p-nav img{
    position: absolute;
    width: 203px;
    right: 193px;
    top: 25px;
}
.nav-txt{
    display: flex;
    align-items: center;
    margin: 50px 190px;
}
.inputs{
    display: flex;
}
.main{
	height: 2403px;
	width: 100%;
	background-color: #23365c;
	font-family: Poppins;
}
.main h2{
	text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
    padding: 40px 0 10px;
}
.main p{
	font-size: 20px;
    margin: 0 0 30px 0;
    text-align: center;
    color: #ffffff;
}
.bloco1-main{
    display: flex;
}
.bloco1{
	background-color: #dedede;
	width: 578px;
	height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 40px;
    box-sizing: border-box;

}
.bloco1 h3{
	font-size: 24px;
    font-weight: bold;
    color: #696969;
    margin: 0;
    text-transform: uppercase;
    padding: 0;
}
.bloco1 p{
    color: #000000;
    text-align: inherit;
    font-size: 15px;
    margin: 10px 10px 10px 0;

}
.button-main{
    width: 160px;
    padding: 10px 0;
    background-color: #23365c;
    color: #ffffff;
    border-radius: 37px;
    text-align: center;
    cursor:pointer;
}
.img-bloco1{
    background-image: url(images/Camada7.png);
    width: 722px;
    background-size: cover;
    height: 363px;
    background-repeat: no-repeat;
}
.bloco2-main{
    display: flex;
}
.img-bloco2{
	background-image: url(images/Camada8.png);
    width: 650px;
    background-size: cover;
    height: 363px;
    background-repeat: no-repeat;
}
.bloco2{
    background-color: #dedede;
    width: 650px;
    height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 30px 0 0;
    box-sizing: border-box;

}
.bloco2 h3{
	font-size: 24px;
    width: 178px;
    color: #696969;
    margin: 0;
    font-weight: bold;
    padding: 0;
    text-align: right;
}
.bloco2 p{
    color: #000000;
    text-align: end;
    font-size: 15px;
    margin: 10px 0px 10px 15px;
}
.bloco3-main{
    display: flex;
}
.bloco3{
	background-color: #dedede;
	width: 578px;
	height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 40px;
    box-sizing: border-box;

}
.img-bloco3{
	background-image: url(images/Camada9.png);
    width: 722px;
    background-size: cover;
    height: 545px;
    background-repeat: no-repeat;
}
.bloco3 h3{
	font-size: 24px;
    width: 300px;
    color: #696969;
    margin: 0;
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;
}
.bloco3 p{
    color: #000000;
    text-align: inherit;
    font-size: 15px;
    margin: 10px 20px 10px 0;
}
.bloco4-main{
    display: flex;
}
.img-bloco4{
	background-image: url(images/Camada8.png);
    width: 650px;
    background-size: cover;
    height: 363px;
    background-repeat: no-repeat;
}
.bloco4{
    background-color: #dedede;
    width: 650px;
    height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 30px 0 0;
    box-sizing: border-box;

}
.bloco4 h3{
	font-size: 24px;
    width: 178px;
    color: #696969;
    margin: 0;
    padding: 0;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
}
.bloco4 p{
    color: #000000;
    text-align: end;
    font-size: 15px;
    margin: 10px 0px 10px 15px;
    -webkit-margin: 10px 0px 10px 15px;
    -ms-margin: 10px 0px 10px 15px;
}
.main-itens{
    display: flex;
	justify-content: space-around;
}
.item-main{
	height: 418px;
    width: 325px;
    background: #ffffff;
}
.item-main img{
    width: 325px;
}
.txt-item{
    padding: 0 30px;
}
.txt-item p{
	color: #000000;
    font-size: 15px;
    text-align: left;
    margin: 0 0 17px 0;
}
.txt-item h4{
    margin: 10px 0;
    font-weight: bold;
}
.button-main-item{
	margin: 0 auto;
	width: 160px;
    padding: 10px 0;
    background-color: #23365c;
    color: #ffffff;
    border-radius: 37px;
    text-align: center;
}
.section{
	height: 880px;
	width: 100%;
	background-image: url(images/Agrupar3.png);
	background-size: cover;
	font-family: Poppins;
}
.form{
    height: 366px;
    border-radius: 26px;
    width: 306px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;

}
form{
    flex-direction: column;
    align-items: center;
    -webkit-display: flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    -ms-display: flex;
    -ms-flex-direction: column;
    -ms-align-items: center;
}
.form legend{
    color: #55595e;
    font-weight: bold;
    text-align: center;
    color: #23365c;
}
.form fieldset{
	border-color: transparent;
    margin: 0 15px;
    min-width: 0;
    padding: 0;
    border: 0;
}
.input-file{
	color: #000000;
    font-size: 9px;
    border: 1px solid #55595e;
    border-radius: 11px;
    width: 265px;
    padding: 4px 15px;
    box-sizing: border-box;
    height: 30px;
    background-color: transparent;
    margin: 10px 0 0;
}
.input-file::-webkit-file-upload-button{
    visibility: hidden;

}
.input-file::before {
    content: 'Choose File';
    display: inline-block;
    border: 1px solid #999;
    border-radius: 30px;
    padding: 3px 15px;
    outline: none;
    cursor: pointer;
    font-size: 8pt;
}
.input-file:hover::before {
    border-color: black;
}
.input-file:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.input-selection{
	color: #000000;
    border: 1px solid #55595e;
    border-radius: 11px;
    width: 266px;
    padding: 0 12px;
    height: 30px;
    background-color: transparent;
    margin: 10px 0;
}
.input-btn{
	width: 105px;
    height: 31px;
    border: 1px solid #000000;
    background-color: transparent;
    color: #000;
    font-size: 20px;
    border-radius: 108px;
    margin: 10px 0;
    cursor: pointer;
}
label{
	color: #000;
   font-size: 12px;
}
.input-txt{
	border: 1px solid #55595e;
    border-radius: 11px;
    width: 265px;
    padding: 0 12px;
    height: 30px;
    background-color: transparent;
    margin: 10px 0;
}
.section h2{
	text-align: center;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    margin: 20px 0;
}
.txt-item-section{
    display: flex;
	flex-direction: column;
}
.section-block{
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;

}

.item-section{
    color: #ffffff;
    /*display: flex;
    flex-direction: column;*/
    padding: 55px 0;
    display: inline-block;
    width: 30%;
}
}
.item-section h4{
	font-style: italic;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}
.item-section p{
    font-weight: bold;
    font-size: 16px;
    margin: 20px 20px 20px 0;
}
.bloco-section{
    width: 750px;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 22px;
    font-size: 15px;
    padding: 0 30px;
    line-height: 1.7;
    display: flex;
    justify-content: space-evenly;
}
.bloco-section p{
   width: 465px;
}
.bloco-section p:nth-child(2){
    width: 405px;
}
.article{
	height: 618px;
	background-color: #ffffff;
	width: 100%;
	font-family: Poppins;
}
.article h2{
	text-align: center;
    color: #1e252f;
    margin: 50px 0;
    font-weight: bold;
}
.article-itens{
    display: flex;
	justify-content: space-around;
}
.item-article{
	height: 418px;
    width: 300px;
   

}
.item-article img{
    width: 300px;
    height: 200px;
}
.txt-article h4{
    text-align: center;
    font-size: 20px;
    margin: 30px 0 0px;
    font-weight: bold;
}
.txt-article p{
    color: #000000;
    font-size: 15px;
    text-align: center;

}
.button-article-item{
	margin: 0 auto;
	width: 160px;
    padding: 10px 0;
    background-color: #23365c;
    color: #ffffff;
    border-radius: 37px;
    text-align: center;
    font-weight: bold;
    cursor:pointer;
}
.contact{
	height: 2660px;
	width: 100%;
	background-color: #1e252f;
	font-family: Poppins;

}
.item-somos h1{
    font-weight: 400;
    font-size: 32px;
}
.item-somos h1:nth-child(5){
    font-weight: 400;
    text-transform: uppercase;
}
.item-somos p{
    text-align: center;
    margin: 25px;
}
.somos{
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 60px 0 20px;
}
.line-somos{
    background-color: #fff;
    width: 96%;
    height: 1px;
    margin: 20px auto;
}
.elfsight-app-ce6c8808-8ac7-4e50-a2fc-931512f473fd iframe {
    height: 390px !important;
}
.contact h2{
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding: 50px 0;
    margin: 0;
}
.icons-contact{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.icons-contact img{
    width: 161px;
    height: 67px;
}
.icons-contact{
    margin: 60px 0;
}
.icons-contact h3{
    padding: 10px;
}
.icons-contact a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;  
}
.tit-sub-contact h1{
	color: #ffffff;
    text-align: center;
    font-size: 43px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.tit-sub-contact h2{
    color: #ffffff;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
   
}
.maps{
	height: 568px;
	/*width: 1140px;*/
	background-color: #ffffff;
    margin: 40px 0;
    display: flex;
    flex-direction: row;
}
.mapa-hidden{
    overflow: hidden;
    display: none;  

}
.form-maps{
    margin: 30px;
    display: inline-block;
    width: 40%;
    text-align: center;
}
.maps fieldset{
	-webkit-display: flex;
    -ms-display: flex;
}
.maps legend{
	color: #55595e;
    font-weight: bold;
    font-size: 25px;
    text-align: end;
}
.input-txt-maps{
    width: 318px;
    height: 40px;
    background-color: #dcdcdc;
    border-radius: 46px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px;
    margin: 0 0 15px;
}
.txtarea{
    width: 313px;
	height: 201px;
	background-color: #dcdcdc;
    border-radius: 30px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px;
    margin: 0 0 35px;
}
.input-btn-maps{
	width: 318px;
    height: 40px;
    background-color: #1e252f;
    color: #fff;
    border-radius: 46px;
    box-sizing: border-box;
    border: 1px;
}
.mapa{
	width: 700px;

}
.footer{
	height: 280px;
	background-color: #ffffff;
	width: 100%;
	font-family: Poppins;
}
.bloco-footer{
    display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}
.itens-footer{
	display: flex;
}
.item1-footer{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.item1-footer h5, h6{
    margin: 0;
	padding: 0;
}
.bloco-footer img, .menu-img{
	width: 155px;
	height: 67px;
}
.icons-footer ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.loc-h6{
    text-align: right;
} 
.itens-footer h5{
	text-transform: uppercase;
    font-size: 15px;
    margin: 15px 0;
    font-weight: 700;
}
.itens-footer h6{
    color: #8c9095;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.ul-footer li{
    margin: 0 15px;
}
i{
    display: none;
}
nav .menu-ul{
    display: none;
}
.menu-mb{
    display: none;
}
.mapa-hidden-mb{
    display: none;
}
@media  (max-width: 900px){
    .menu {
        height: 115px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    .menu-img {
        margin: 24px;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        display: contents;
        list-style: none;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        border-radius:3px;
        opacity:0;
    }
    i {
        display: block;
        padding:5px;
        border-radius:3px;
        transition:.25s;
        animation: 1.25s bounce infinite;
        position: absolute;
        top: 37px;
        right: 237px;
    }
    i:hover {
        cursor:pointer;
        animation-play-state: paused;
    }
    .img-i{
        width: 26px;
        height: 26px;
    }
    .menu ul.open {
        max-height: 480px;
        visibility: visible;
        opacity:1;
        transform:rotate(0);
    }
    .menu ul li {
        display: block;
        padding: 0 10px;
        width: 100%;
        padding: 9px 0;
        background-color: #24385f;
        color: #fff;
        text-align: center;
    }
    .menu ul li:hover{
        background-color: #e4e5e1;
        color: #000;
    }

    .contact-menu{
        display: none;
    }
    .nav {
        height: 630px;
    }
    .btn-secondary:hover {
        color: #fff;
        font-size: 22px;
    }
    .txt-ul-nav li:nth-child(1) {
        margin: 0 -65px;
    }
    .txt-ul-nav li:nth-child(2) {
        margin: 0 0 0 64px;
    }
    .txt-ul-nav li:nth-child(3) {
        margin: 0 0 0 15px;
    }
    .txt-ul-nav li:nth-child(4) {
        margin: 0 0 0 30px;
    }
    .txt-ul-nav{
        text-align: center;
    }
    .tit-p-nav img{
        right: 1px;
    }
    .section {
        height: 1545px;
    }
    .section-block {
        flex-direction: column;
        align-items: center;
    }
    .item-section{
        align-items: center;
        text-align: center;
    }
    .item-main {
        width: 220px;
    }
    .item-main img {
        width: 220px;
    }
    .txt-item h4 {
        margin: 26px -22px;
    }
    .article {
        height: 500px;
    }
    .item-article {
        width: 220px;
    }
    .item-article img{
        width: 220px;
        height: 150px;
    }
    .contact {
        height: 3160px;
    }
    .maps {
        height: 1037px;
        width: 70%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
    }
    .item1-footer {
        padding: 20px 10px;
    }
    .mapa{
        display: none;
    }
    .mapa-hidden{
        display: block;
        overflow: visible;
    }
    .mapa-hidden-mb{
        display: none;
    }
    .form-maps {
        width: 85%;
    }
}
@media (max-width: 400px){
    i{
        right: 52px;
    }
    .banner {
        height: 580px;
        background-position: center;
    }
    .Elipse1{
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 10px;
        top: 160px;
        padding: 0;
        width: 249px;
    }
    .Elipse2{
        height: 150px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: -70px;
        width: 205px;
        bottom: 55px;
    }
    .Elipse1 .ti{
        font-size: 25px;
        position: absolute;
        bottom: 110px;
    }
    .Elipse1 .tu{
        font-size: 70px;
        position: absolute;
        text-align: center;
        left: 110px;
        bottom: 142px;
    }
    .Elipse1 .lo{
        font-size: 44px;
        padding: 0;
        position: absolute;
        text-align: inherit;
        bottom: 6px;
        left: -43px;
    }
    .Elipse1 .tit{
        font-size: 20px;
        width: 123px;
        position: absolute;
        bottom: 150px;
        left: 77px;
    }
    .Elipse2 h2{
        font-size: 17px;
        width: 105px;
        position: absolute;
        left: 22px;
        bottom: 33px;

    }
    .Elipse2 .button{
        bottom: 32px;
        left: 18px;
        position: absolute;
    }
    .header{
        height: 1270px;
    }
    .nav {
        height: 697px;
    }
    .titulo-nav {
        font-size: 31px;
    }
    .txt-ul-nav {
        text-align: center;
        font-size: 11px;
        display: flex;
        align-items: center;
    }
    .txt-ul-nav li:nth-child(1) {
        margin: 0 -65px;
    }
    .txt-ul-nav li:nth-child(4) {
        margin: 0 0 0 17px;
    }
    .tit-p-nav h2 {
        padding: 0;
        margin: 0;
    }
    .tit-p-nav img {
        position: absolute;
        left: 200px;
        width: 140px;
    }
    .tit-p-nav p {
        font-size: 13px;
        width: 200px;
    }
    .tit-p-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px;
    }
    .bloco1, .bloco2, .bloco3, .bloco4{
        padding: 20px;
    }
    .img-bloco3{
        display: none;
    }
    .cancel-mb, .cancel{
        display: none;
    }
    .section {
        height: 2100px;
    }
    .bloco-section {
        width: 360px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        font-size: 12px;
    }
    .bloco-section p {
        width: 343px;
        margin: 0;
    }
    .bloco-section p:nth-child(2) {
        width: 343px;
    }
    .contact{
        height: 3530px;
    }
    .maps {
        width: 100%;
    }
    .contact .form-maps{
        margin: 15px;
        box-sizing: border-box;
    }
    .mapa-hidden{
        display: none;
    }
    .mapa-hidden-mb{
        display: block;
        overflow: visible;
    }
     .bloco-footer {
        display: flex;
        flex-direction: column;
        margin: 31px 0 0;
        align-items: end;
    }
    .bloco-footer img{
        margin: 0 auto;
    }
    .itens-footer {
        display: flex;
        margin: 16px -2px;
    }
    .item1-footer {
        padding: 0 0 0 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .itens-footer h5{
        font-size: 10px;
        margin: 10px 0;
        text-align: end;
    }
    .itens-footer h6{
        font-size: 8px;
    }
    .icons-footer ul {
        justify-content: flex-start;
    }

}